.Accomodation {

    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .accomodation--paragraph {
        height: 140vh;


        h3 {
            margin-top: 2rem;
            margin-bottom: 3rem;

            .accomodation-nomad {
                color: $secondaryColor;
            }
        }

        .accomodation-facility {
            font-weight: bold;
            font-size: 1.75rem;
            margin-bottom: 1rem;

        }

        form {

            .accomodation--input {
                padding: 0.5rem;
                width: 100%;
                height: 30px;
                margin-bottom: 0.5rem;
                border-radius: 5px;
                font-size: 1rem;
                border: 1px solid $thirdColor;
            }

            .error {
                color: $errorColor;
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: start;

            }

            .borderColors {
                width: 100%;
                height: 30px;
                padding: 0.5rem;
                border-radius: 5px;
                margin-bottom: 0.5rem;
                border: 1px solid $errorColor !important;
            }

            .borderArea {
                width: 100%;
                height: 60px;
                padding: 0.5rem;
                border-radius: 5px;
                margin-bottom: 0.5rem;
                border: 1px solid $errorColor !important;
            }

            .accomodation--area {
                padding: 0.5rem;
                width: 100%;
                height: 60px;
                margin-bottom: 1rem;
                font-size: 1rem;
                border-radius: 5px;
            }

            .accomodation--image {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .accomodation--select {
                width: 103%;
                height: 40px;
                margin-bottom: 1rem;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
            }

            .accomodation--btn {
                width: 104%;
                height: 40px;
                margin-top: 1rem;
                background-color: $secondaryColor;
                color: $primaryColor;
                font-weight: bold;
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 1rem;
            }
        }
    }

    @media screen and (min-width:320px) and (max-width: 600px) {

        .accomodation--paragraph {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                margin-top: 5rem;
                margin-bottom: 3rem;
            }

            .accomodation-facility {

                font-size: 1rem;
                margin-bottom: 1rem;

            }

            form {
                width: 100%;

                .accomodation--input {
                    width: 90%;

                }

                .borderColors {
                    width: 90%;
                }
                .borderArea {
                    width: 90%;
                }

                .error {
                    color: $errorColor;
                }

                .accomodation--area {
                    width: 90%;
                }

                .accomodation--image {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }



                .accomodation--select {
                    width: 90%;
                }

                .accomodation--btn {
                    width: 96%;

                }
            }
        }
    }


}
