.counter{
    display: flex;
flex-direction: column;
   }
.counter button{
    padding:10px 20px;
    color:$primaryColor;
    background-color:$secondaryColor;
    border-radius:5px;
    text-align:center;
    margin-bottom:10px;
}
.counter span{
    padding:5px;
    color:$primaryColor;
    background-color:$secondaryColor;
    border-radius:50px;
    text-align:center;
    margin-bottom:10px;
}