.container{
    background-color: white;
    color: black;
    min-width: 500px;
    height: 280px;
    drop-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -40vh;
    border-radius: 15px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-150%);
    transition: all 2s ease-in-out;
    div{
        display: flex;
        img{
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }

        .card-content{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            justify-content: center;
            
            span{
                padding: 5px 0px;

                select{
                    margin-left: 10px;
                    padding: 5px 12px;
                    outline: none;
                    border: 1px solid #676767;
                }

                &:last{
                    margin-top: 15px;
                }
            }
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
        button{
            margin-left: 20px;
            padding: 8px 30px;
            &:last-child{
                border: 1px solid #676767;
                background-color: white;
            }
        }
    }
}