@import "./variables.scss";
.footer-content {
    display: flex;
    background-color: $thirdColor;
    color: $primaryColor;
    position: relative;
    bottom: 0;
    margin-top: 25px;
    width: 100vw;
    justify-content: center;
    div {
        flex: 1;
        margin: 0px 50px;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
    }
    .footer-menu {
        .title {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 10px 0;
            color: $secondaryColor;
        }
        span {
            margin-bottom: 10px;
            a {
                text-decoration: none;
                color: $primaryColor;
            }
        }
    }
}
