@import './variables.scss';

*{
  padding: 0px;
  margin: 0px;
}

body
{
  font-family: 'Montserrat';
  background-color: $primaryColor;
  margin: 0;
  padding: 0;
  @import './buttonDisable.scss';
  @import './landingPage.scss';
  @import './registrationPage.scss';
  @import './signup.scss';
  @import './responsive.scss';

  // @import './landingPage.scss';
  // @import './counter.scss';
  @import './Contents.scss';
  @import './navbar.scss';
  @import './sidebar.scss';
  @import './users.scss';
  @import './footer.scss';
  @import './responsiveness.scss';




}