@import "./variables.scss";

.input-group {
  height: 25px;
  border: 1px solid $fouthColor;
  margin: 25px 0 0 0;
  width: 400px;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  display: flex;
  ion-icon {
    margin: auto 0 auto auto;
    color: $fouthColor;
  }
  input,select {
    width: 100%;
    border: none !important;
    padding: 0;
    outline: none;

  }
  input:focus {
    outline: none;
  }
}

.button {
  background: $secondaryColor;
  border: none !important;
  input {
    cursor: pointer;
    background: none;
    color: $primaryColor;
  }
}
