.container {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F5F6;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  // flex-direction: column;
  // h1{
  //   color: $secondaryColor;
  // }
 }
