$medium: 750px;

.reg-area{
    @media (max-width:$medium){
        .slice-a{
            display: none !important;
        }
    }
    @media (max-width:970px){
        .slice-a-signup{
            display: none !important;
        }
    }
    @media (max-width:650px){
        .input-align{
            display: block !important;
        }
        .input-resize{
            width: 100%  !important;
        }
        .input-left{
            margin-left: 0 !important;
        }
    }
}